<!-- Wrapper -->
<div id="wrapper" class="divided">

    <!-- One -->
    <section class="section-intro">
        <div class="parallax-window">
            <div class="parallax">
                <div class="intro-text">
                    <h1>Shezad & Natasha</h1>
                    <h3>4 - 6 January, Bombay</h3>
                </div>
                <div class="intro-rsvp">
                    <span class="rsvp-button">RSVP</span>
                </div>
                <div class="intro-img-one intro-img"></div>
                <div class="intro-img-two intro-img"></div>
            </div>
        </div>
    </section>

    <section class="first-block-text">
        <div class="spotlight style1">
            <div class="intro-content content content-align-center orient-center">
                <h2>MR &amp; MRS</h2>
                <p>We are elated to invite you to our wedding and request the pleasure of your company, as we join together in marriage.<br />
                    We hope you are able to join us in Mumbai, India for our wedding celebrations.
                      Please take a moment to explore our website for further details.</p>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section class="spotlight style1 orient-right content-align-left image-position-center" id="first">
        <div class="content">
            <h2>Save The Date</h2>
            <p>Our wedding will take place on Sunday the 7th of January, 2018.<br />
                We look forward to your choicest blessings and celebrating with you on this auspicious occasion.</p>
        </div>
        <div class="image">
            <img src="images/spotlight01.jpg" alt="" />
        </div>
    </section>

    <!-- Three -->
    <section class="spotlight style1 orient-left content-align-left image-position-center">
        <div class="content">
            <h2>Welcome to the “city of dreams”.</h2>
            <p>DISCOVER<br />
                As well as attending our wedding celebration, we want you to also experience and explore the magic that is Mumbai.
                Whether it is a trip to the historic, Gate way of India or dinner at the Taj; there is so much to see and do.</p>
        </div>
        <div class="image">
            <img class="diagonal-left" src="images/diagonal-left.jpg" alt="" />
            <img class="diagonal-right" src="images/diagonal-right.jpg" alt="" />
        </div>
    </section>

    <!-- Seven -->
    <section class="wrapper style1 align-center">
        <div class="inner medium">
            <h2>RSVP</h2>
            <form id="rsvp-form" method="post" action="#">
                <div class="first-name col-sm-6 col-xs-12">
                    <input type="text" name="name" placeholder="First and Last Name" id="name" value="" />
                </div>

                <div class="rsvp-radio-container col-sm-6 col-xs-12">
                    <div class="field third first rsvp-radio">
                        <input type="radio" id="rsvp-yes" value="Yes" name="rsvp" checked />
                        <label for="rsvp-yes">Yes</label>
                    </div>
                    <div class="field third rsvp-radio">
                        <input type="radio" id="rsvp-no" value="No" name="rsvp" />
                        <label for="rsvp-no">Can't Make It</label>
                    </div>
                </div>

                <div class="select-wrapper meal-pref col-sm-6 col-xs-12">
                    <select name="meal" id="meal">
                        <option name="default" value="-">Meal Preference-</option>
                        <option value="Non-Vegetarian">Non-veg Soju Parsi Bhonu</option>
                        <option value="Vegetarian">Veg Thali</option>
                    </select>
                </div>

                <ul class="actions">
                    <button class="submit-button" type="submit" name="submit" id="submit" />
                    <span class="submit-text">Confirm</span>
                    <img class="submit-loader hidden" src="assets/pie.svg" />
                    <img class="submit-success hidden" src="assets/tick.png" />
                </ul>
            </form>

        </div>
    </section>

    <!-- Footer -->
    <footer class="site-footer align-center">
        <div class="inner">
            <span>Shezad & Natasha</span>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/events.js"></script>
<script src="assets/js/parallax.min.js"></script>
