.intro-content {
  text-align: center; }

.list {
  padding: 6px 1rem; }
  .list td, .list th {
    border: 1px solid black; }
  .list th {
    padding: 0.75rem 0.75rem; }
  .list table {
    border-collapse: collapse; }
  .list h2 {
    text-align: center;
    margin-bottom: 0.2rem; }

.hidden {
  display: none !important; }

.parallax {
  position: relative; }

.intro-img {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.intro-img-one {
  background-image: url("/images/intro1.jpg");
  z-index: 0;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

span.meal-label {
  display: inline-block;
  min-width: 91px; }

.intro-img-two {
  background-image: url("/images/intro2.jpg");
  position: absolute;
  top: 0;
  width: 100vw;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1; }

.show-second .intro-img-two {
  opacity: 1;
  transition: opacity 1.5s ease-in-out; }

.intro-text, .intro-rsvp {
  z-index: 2; }

.intro-text {
  color: floralwhite;
  font-size: 50px;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 2px #969696;
  width: 100%;
  text-align: center; }

.intro-rsvp {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center; }
  .intro-rsvp .rsvp-button {
    cursor: pointer;
    padding: 10px 55px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 16px; }

.content-header {
  margin-bottom: 2rem; }

.rsvp-block.content {
  text-align: center;
  padding: 2rem !important; }

.rsvp-header {
  margin-bottom: 25px; }

#rsvp-form {
  padding: 1rem !important;
  text-align: center; }
  #rsvp-form input, #rsvp-form select {
    font-size: 22px; }
  #rsvp-form .first-name {
    width: 70%;
    margin: 0 auto; }
    #rsvp-form .first-name input {
      height: 75px; }
  #rsvp-form .meal-pref {
    margin: 45px auto; }
  #rsvp-form .rsvp-radio-container {
    width: 70%;
    margin: 40px auto 0;
    text-align: center;
    overflow: auto; }
    #rsvp-form .rsvp-radio-container .rsvp-radio {
      margin-bottom: 1px;
      display: inline-block;
      float: initial; }

.select-container {
  position: relative;
  display: inline-block;
  height: 40px;
  margin: 0 1rem; }
  .select-container .select-down-icon {
    color: #ccc;
    position: absolute;
    left: 45px;
    top: 11px;
    font-size: 16px;
    pointer-events: none; }

.meal-pref .select-wrapper {
  display: inline; }

.meal-pref-select {
  display: inline;
  width: 65px;
  height: 40px;
  margin-right: 11px; }

.submit-button {
  position: relative;
  width: 40%;
  height: 4rem;
  outline: none; }

.submit-button.submitted {
  cursor: pointer;
  pointer-events: none; }

.submit-loader {
  vertical-align: middle;
  height: 75%; }

.submit-success {
  vertical-align: middle;
  height: 75%; }

.site-footer {
  padding: 1rem 0;
  position: relative; }

.photos-courtesy {
  font-size: 17px; }

@media (max-width: 736px) {
  .intro-img-one, .intro-img-two {
    background-attachment: scroll !important; }

  .meal-pref {
    margin: 30px auto 40px !important; } }
@media (max-width: 736px) and (orientation: portrait) {
  .image.desktop .diagonal-images {
    display: none !important; }

  .rsvp-block.content {
    padding-bottom: 0 !important; } }
@media (orientation: landscape) {
  .image.mobile {
    display: none !important; }

  .image.desktop .diagonal-images {
    display: block !important; }

  .diagonal-images {
    border-top: 1px solid #ebebeb; } }
@media (min-width: 737px) {
  .image.mobile {
    display: none; }

  .diagonal-images {
    border-top: 1px solid #ebebeb; }

  .section-three, .section-four {
    min-height: 36rem; }

  .city-dreams-image {
    width: 60% !important; }

  .city-dreams-content {
    width: 40% !important; } }
@media (max-width: 991px) {
  #rsvp-form .rsvp-radio-container {
    width: 100%; }
    #rsvp-form .rsvp-radio-container .rsvp-radio {
      width: 49%; }
  #rsvp-form .first-name {
    width: 100%; }
    #rsvp-form .first-name input {
      font-size: 18px; }
  #rsvp-form .select-container {
    margin-top: 10px; }

  .submit-button {
    width: 54% !important; } }

/*# sourceMappingURL=custom.css.map */
